<div class="login-page bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<h3 class="mb-3 text-center">Giriş Yapın</h3>
				<div class="bg-white shadow rounded">
					<div class="row">
						<div class="col-md-7 pe-0">
							<div class="form-left h-100 py-5 px-5">
								<form action="" class="row g-4">
									<div class="col-12">
										<label>Kullanıcı Adınız <span class="text-danger">*</span></label>
										<div class="input-group">
											<div class="input-group-text"><i class="fa fa-user"></i></div>
											<input type="text" class="form-control" placeholder="Kullanıcı Adı Giriniz">
										</div>
									</div>

									<div class="col-12">
										<label>Şifreniz<span class="text-danger">*</span></label>
										<div class="input-group">
											<div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
											<input type="text" class="form-control" placeholder="Şifrenizi Giriniz">
										</div>
									</div>


									<div class="col-12">
										<center><button type="submit" class="btn btn-primary px-4 text-center mt-4">Giriş Yap</button></center>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-right h-100 bg-primary text-white text-center pt-5">
								<i class="bi bi-bootstrap"></i>
								<h2 class="fs-1">Hoş Geldiniz</h2>
								<br />
								<p class="text-center">Deneme üye girişi yapmak için kullanıcı adınız.</p>

								<br />
								<label>Kullanıcı Adı : test</label>
								<br />
								<label>Şifre : 123</label>

							</div>
						</div>
					</div>
				</div>
				<p class="text-end text-secondary mt-3">Abonelik işlemleri case çalışması</p>
			</div>
		</div>
	</div>
</div>

